.button {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 30px 40px;
  font-family: $roboto-font;
  background-color: $blue-main;
  border-style: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: $white-basic;
  border-radius: 5px;

  &--call-back {
    padding: 14px 10px 13px;
    min-width: 180px;
    background-color: transparent;
    border: 1px solid $white-basic;
    letter-spacing: 0.05em;
  }

  &--feedback {
    padding: 19px 29px 17px;
    min-width: 407px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
  }
}

@media (max-width: $tablet-width-max) {
  .button {
    &--feedback {
      padding-left: 14px;
      padding-right: 14px;
      min-width: 379px;
    }
  }
}
