.button {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 30px 40px;
  font-family: $roboto-font;
  background-color: $blue-main;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: $white-basic;
  border-style: none;
  border-radius: 5px;

  &--call-back {
    align-self: flex-start;
    margin-top: 6px;
    padding: 14px 10px 13px;
    min-width: 180px;
    background-color: transparent;
    border: 1px solid $white-basic;
    letter-spacing: 0.05em;

    &:hover,
    &:focus {
      border: 1px solid $white-basic-opacity-50;
      color: $white-basic-opacity-50;
    }
  }

  &--feedback {
    padding: 19px 29px 17px;
    min-width: 407px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;

    &:hover {
      color: $white-basic-opacity-50;
      background-color: $blue-light;
    }
  }

  &--more {
    padding: 12px 14px;
    min-width: 180px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: $blue-main;
    background-color: $white-basic;
    border: 1px solid $blue-main;

    &:hover {
      color: $white-basic;
      background-color: $blue-main;
      border: 1px solid $white-basic;
    }
  }

  &--form {
    padding: 12px 14px 10px 14px;
    border: 1px solid $white-basic;
    letter-spacing: 0.05em;

    &:hover {
      border: 1px solid $white-basic-opacity-50;
      color: $white-basic-opacity-50;
    }
  }

  &--close {
    position: absolute;
    padding: 0;
    top: 20px;
    right: 20px;
    width: 23px;
    height: 23px;
    border-radius: 0;
    background-color: transparent;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: $white-basic;
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }

    &:hover,
    &:focus {
      &::before,
      &::after {
        background-color: $white-basic-opacity-50;
      }
    }
  }
}

@media (max-width: $tablet-width-max) {
  .button {
    &--feedback {
      padding: 16px 14px 20px 14px;
      min-width: 379px;
    }

    &--form {
      padding: 14px 19px;
      min-width: 280px;
    }
  }
}
