.company-info {
  padding-top: 112px;
  padding-bottom: 109px;
  background-image: url('../img/triangle-big.png'), url('../img/triangle-small.png'), url('../img/triangle-small-right.png'), url('../img/triangle-big-right.png');
  background-repeat: no-repeat;
  background-position: left -65px top 445px,left 200px top 50px,right 25px top 392px,left 581px top 113px;
  background-size: 698px 867px,340px 306px,345px 327px,808px 913px;

  @media (min-resolution: 2dppx) {
    background-image: url('../img/triangle-big@2x.png'), url('../img/triangle-small@2x.png'), url('../img/triangle-small-right@2x.png'), url('../img/triangle-big-right@2x.png');
  }
}

.company-info__container {
  max-width: 1230px;
}

@media (max-width: $tablet-width-max) {
  .company-info {
    padding-top: 54px;
    padding-bottom: 84px;
    background-image: url('../img/triangle-big-right.png');
    background-repeat: no-repeat;
    background-position: right -323px top 120px;
    background-size: 873px 873px;

    @media (min-resolution: 2dppx) {
      background-image: url('../img/triangle-big-right@2x.png');
    }
  }

  .company-info__container {
    max-width: 1073px;
  }
}

@media (max-width: $mobile-width-max) {
  .company-info {
    padding-top: 37px;
    padding-bottom: 67px;
    background-position: right -435px bottom 365px;
  }

  .company-info__container {
    max-width: 797px;
  }
}
