.contacts__list {
  @include list-reset;
}

.contacts__item {
  font-size: 15px;
  line-height: 25px;
  color: $black-decor-opacity-50;

  a {
    color: $black-decor-opacity-50;
  }

  &:hover,
  &:focus {
    a {
      text-decoration: underline;
    }
  }
}

@media (max-width: $mobile-width-max) {
  .contacts__item {
    &--address {
      width: 95%;
    }
  }
}
