.feedback {
  padding-top: 93px;
  padding-bottom: 113px;
  background-color: $blue-main;
  background-image: url('../img/plane-desktop.png');
  background-repeat: no-repeat;
  background-position: top -61px left calc(50% + 88px);
  background-size: 1745px 765px;

  @media (min-resolution: 2dppx) {
    background-image: url('../img/plane-desktop@2x.png');
  }
}

.feedback__form {
  width: 49%;
  margin-left: auto;
}

@media (max-width: 1700px) {
  .feedback {
    background-position: top -59px left 50%;
  }
}

@media (max-width: 1220px) {
  .feedback__form {
    width: 60%;
  }
}

@media (max-width: $tablet-width-max) {
  .feedback {
    padding-top: 80px;
    padding-bottom: 101px;
    background-image: none;
  }

  .feedback__container {
    padding: 0 90px;
  }

  .feedback__form {
    width: 100%;
  }
}

@media (max-width: $mobile-width-max) {
  .feedback {
    padding-top: 31px;
    padding-bottom: 42px;
  }

  .feedback__container {
    padding: 0 15px;
  }
}
