.feedback {
  padding-top: 96px;
  padding-bottom: 113px;
  background-color: $blue-main;
  background-image: url('../img/plane-desktop.png');
  background-repeat: no-repeat;
  background-position: top -100px left -100px;
  background-size: 1745px 765px;

  @media (min-resolution: 2dppx) {
    background-image: url('../img/plane-desktop@2x.png');
  }
}

.feedback__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}

.feedback__form {
  grid-column-start: 2;
  grid-column-end: 3;
}

@media (max-width: 1240px) {
  .feedback {
    background-position: top -100px left -200px;
  }
}

@media (max-width: $tablet-width-max) {
  .feedback {
    padding-top: 83px;
    padding-bottom: 103px;
    background-image: none;
  }

  .feedback__container {
    display: block;
    padding: 0 90px;
  }
}

@media (max-width: $mobile-width-max) {
  .feedback {
    padding-top: 33px;
    padding-bottom: 41px;
  }

  .feedback__container {
    padding: 0 15px;
  }
}
