.legal-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 14px;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: $black-decor-opacity-50;
  text-transform: uppercase;
  margin-left: -10px;
  margin-right: -10px;
}

.legal-info__item {
  margin: 0 10px;

  a {
    color: $black-decor-opacity-50;

    &:hover,
    &:focus {
      color: $grey-dark-decor;
    }
  }

  &--rights {
    flex-grow: 1.1;
  }

  &--absolute {
    flex-grow: 2.1;
  }

  &--conditions {
    flex-grow: 6;
  }
}

@media (max-width: $tablet-width-max) {
  .legal-info {
    padding-top: 21px;
    padding-bottom: 21px;
    justify-content: space-between;
  }

  .legal-info__item {

    &--absolute {
      position: absolute;
      margin-right: 0;
      margin-left: 0;
      width: 35%;
      top: 17px;
      left: 43%;
    }

    &--rights {
      display: none;
    }
  }
}

@media (max-width: $mobile-width-max) {
  .legal-info {
    display: block;
    margin-left: 0;
    margin-right: 0;
    padding-top: 28px;
    padding-bottom: 26px;
  }

  .legal-info__item {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 21px;
    text-align: center;

    &--absolute {
      min-width: 250px;
      top: 78px;
      left: 50%;
      transform: translateX(-50%);
    }

    &--conditions {
      width: 100%;
    }

    &--developed-by {
      width: 100%;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
