.legal-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 14px;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: $black-decor-opacity-50;
  text-transform: uppercase;
}

.legal-info__item {
  a {
    color: $black-decor-opacity-50;

    &:hover,
    &:focus {
      color: $grey-dark-decor;
    }
  }

  &--rights {
    margin-right: 74px;
  }

  &--absolute {
    margin-right: 142px;
  }

  &--developed-by {
    margin-left: auto;
  }
}

@media (max-width: $tablet-width-max) {
  .legal-info {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .legal-info__item {
    &--absolute {
      position: absolute;
      margin-right: 0;
      top: 17px;
      left: 43%;
    }

    &--rights {
      display: none;
    }
  }
}

@media (max-width: $mobile-width-max) {
  .legal-info {
    flex-direction: column;
    justify-content: center;
    padding-top: 28px;
    padding-bottom: 26px;
  }

  .legal-info__item {
    margin-bottom: 21px;

    &--absolute {
      min-width: 250px;
      text-align: center;
      top: 78px;
      left: 50%;
      transform: translateX(-50%);
    }

    &--developed-by {
      margin-left: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
