.menu {
  display: grid;
  grid-template-columns: 60% 34%;
  column-gap: 65px;
}

.menu__content {
  h3 {
    margin: 0;
    margin-bottom: 25px;
    width: 100%;
    font-family: $roboto-font;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: $black-decor;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}

.menu__tab {
  height: min-content;
}

@media (max-width: $tablet-width-max) {
  .menu {
    position: relative;
    padding-top: 38px;
    padding-bottom: 38px;
    grid-template-columns: 45% 50%;
    column-gap: 52px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: -25px;
      width: 100vw;
      height: 1px;
      background-color: $grey-dark-decor-opacity-20;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }
}

@media (max-width: $mobile-width-max) {
  .menu {
    position: static;
    display: block;
    padding-top: 0;
    padding-bottom: 0;

    &::before,
    &::after {
      display: none;
    }
  }

  .menu__content {
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: -15px;
      height: 1px;
      width: 100vw;
      background-color: $grey-borders;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    h3 {
      position: relative;
      margin-bottom: 0;
      padding-top: 28px;
      padding-bottom: 28px;
      cursor: pointer;

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 36px;
        right: 2px;
        width: 16px;
        height: 1px;
        background-color: $grey-light;
      }

      &::after {
        transform: rotate(90deg);
        transition: transform $transition-time-slow;
      }
    }

    &--active {
      h3 {
        &::after {
          transform: rotate(0deg);
        }
      }

      .menu__tab {
        padding-top: 8px;
        padding-bottom: 23px;
        height: min-content;
      }
    }
  }

  .menu__tab {
    height: 0;
    overflow: hidden;
  }
}
