.page-footer {
  position: relative;
  padding-top: 65px;
  background-color: $grey-background;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 15%;
    width: 100vw;
    height: 1px;
    background-color: $grey-dark-decor-opacity-20;
  }
}

.page-footer__container {
  display: grid;
  grid-template-columns: 30% 70%;
  column-gap: 10px;
  max-width: 1555px;
}

.page-footer__logo {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

.page-footer__socials {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

.page-footer__menu {
  padding-bottom: 55px;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

.page-footer__legal-info {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}

@media (max-width: $tablet-width-max) {
  .page-footer {
    position: static;
    padding-top: 19px;

    &::after {
      display: none;
    }
  }

  .page-footer__container {
    position: relative;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    max-width: 1073px;
  }

  .page-footer__logo {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-bottom: 26px;
  }

  .page-footer__socials {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-bottom: 26px;
  }

  .page-footer__menu {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media (max-width: $mobile-width-max) {
  .page-footer {
    padding-top: 46px;
  }

  .page-footer__container {
    display: block;
    max-width: 797px;
  }

  .page-footer__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 81px;
  }
}
