.services {
  padding-top: 90px;
  padding-bottom: 126px;
  background-color: $black-decor;
}

.services__container {
  max-width: 1230px;

  h2 {
    margin: 0;
    margin-bottom: 51px;
    font-family: $roboto-font;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
    color: $white-basic;
  }
}

.services__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -$main-offset / 2;
}

.services__item {
  position: relative;
  margin: $main-offset / 2;
  width: calc((100% / 3) - #{$main-offset});

  &:hover,
  &:focus {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: $white-basic-opacity-50;
    }
  }
}

.services__link {
  display: block;
  position: relative;
  font-family: $roboto-font;
  color: $white-basic;

  h3 {
    position: absolute;
    margin: 0;
    width: 45%;
    top: 49px;
    left: 44px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
}

.services__button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 63px;
  height: 63px;
  background-color: $blue-main;
  background-image: url('../img/right-arrow-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 6px 9px;
}

.services__photo {
  width: 100%;
  height: 100%;
  max-height: 620px;
  opacity: 0.2;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: $tablet-width-max) {
  .services {
    padding-top: 50px;
    padding-bottom: 34px;
  }

  .services__container {
    h2 {
      width: 85%;
      margin-bottom: 46px;
      font-size: 32px;
      line-height: 45px;
    }
  }

  .services__list {
    display: block;
    margin: 0;
  }

  .services__item {
    margin: 0;
    margin-bottom: 46px;
    width: 100%;

    &:nth-child(3n) {
      h3 {
        top: 54px;
      }
    }
  }

  .services__link {
    h3 {
      width: 24%;
      top: 43px;
      left: 44px;
    }
  }

  .services__photo {
    max-height: none;
    min-height: 256px;
  }
}

@media (max-width: $mobile-width-max) {
  .services {
    padding-bottom: 34px;
  }

  .services__container {
    h2 {
      margin-left: 10px;
      margin-bottom: 42px;
      width: 100%;
      font-size: 28px;
      line-height: 39px;
    }
  }

  .services__item {
    margin-bottom: 30px;

    &:nth-child(3n) {
      h3 {
        top: 30px;
      }
    }
  }

  .services__link {
    h3 {
      width: 55%;
      top: 23px;
      left: 35px;
    }
  }

  .services__photo {
    max-height: none;
    min-height: 256px;
  }
}
