.site-sections {
  display: flex;
  flex-wrap: wrap;
}

.site-sections__list {
  @include list-reset;
  width: calc((100% - 20px) / 2);
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.site-sections__item {
  font-size: 15px;
  line-height: 25px;
}

.site-sections__link {
  color: $black-decor-opacity-50;

  &:hover,
  &:focus {
    color: $grey-dark-decor;
  }
}

@media (max-width: $tablet-width-max) {
  .site-sections {
    flex-direction: column;
  }

  .site-sections__list {
    width: 100%;
    margin-right: 0;
  }
}

@media (max-width: $mobile-width-max) {
  .site-sections {
    display: block;
  }
}
