.site-sections {
  display: flex;
  flex-wrap: wrap;
}

.site-sections__list {
  @include list-reset;
  width: 50%;
}

.site-sections__item {
  font-size: 15px;
  line-height: 25px;
  color: $black-decor-opacity-50;
}

@media (max-width: $tablet-width-max) {
  .site-sections {
    flex-direction: column;
  }

  .site-sections__list {
    width: 100%;
  }
}

@media (max-width: $mobile-width-max) {
  .site-sections {
    display: block;
  }
}
