.socials {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}

.socials__item {
  margin-right: 16px;

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    .socials__icon {
      fill: $blue-main;
    }
  }
}

.socials__icon {
  fill: $grey-icons;
}

@media (max-width: $tablet-width-max) {
  .socials {
    justify-content: flex-end;
    align-items: center;
  }
}

@media (max-width: $mobile-width-max) {
  .socials {
    justify-content: center;
  }
}
